.formOuterContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    margin: auto;
    margin-top: 135px;
    border-color: var(--lightgrey);
    
} 

.formContainer {
    color: var(--lightgrey);
}

.instagramLogo {
    margin: auto;
}