.formOuterContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    margin: auto;
    margin-top: 135px;

    
} 

.formContainer {
    border: 1px solid var(--lightgrey);
}

.fieldSet {
    border: none;
    font-family: Helvetica, sans-serif;
}

.fieldSet img {
    margin: 0 auto;
}

.signUpBox {
    height: 60px;
    width: auto;
    border: 1px solid var(--lightgrey);
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}

.signUpBox a {
    text-decoration: none;
    color: var(--blue);
}

.signUpBox p {
    font-size: .9em;
    margin: auto;
}

@media only screen and (max-height: 800px) {
    .formOuterContainer {
        margin-top: 0;
        position: static;
    }
  }
  