.formOuterContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    margin: auto;
    margin-top: 135px;

    
} 

.formContainer {
    border: 1px solid var(--lightgrey);
}

.fieldSet {
    border: none;
}

.fieldSet img {
    margin: 0 auto;
}


@media only screen and (max-height: 600px) {
    .formOuterContainer {
        margin-top: 0;
    }
  }
  
  @media only screen and (max-height: 900px) {
    .footer {
        margin-top: 100px;
    }
  }