.footer {
    font-size: 0.8em;
    color: var(--darkgrey);
    margin-top: 150px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    width: 100%;
  }