:root {
  --blue: rgb(70, 166, 218);
  --offwhite: #fafafa;
  --lightgrey: #dbdbdb; 
}

.title {
  text-align: center;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  
  .login-container a {
    text-decoration: none;
    color: var(--blue);
    font-size: 0.9em;
  }
  
  .or {
    color: #999;
    margin: 20px 0;
    text-align: center;
  }
  
  .form-input {
    background: var(--offwhite);
    border: 1px solid var(--lightgrey);
    border-radius: 3px;
    padding: 14px 15px;
    margin: 5px 0;
    width: calc(100% - 30px);
  }

  .container {
    text-align: center;
  }