:root {
  --blue: rgb(51, 180, 249);
  --offwhite: #fafafa;
  --lightgrey: #dbdbdb; 
  --darkgrey: rgb(110, 110, 110);
  --darkblue: rgba(3, 3, 81, 0.663); 
}

   
  .or {
    color: var(--darkgrey);
    padding-top: 10px;
    font-size: 0.9em;
    padding-bottom: 25px;
    text-align: center;
  }
  
  .form-input {
    background: var(--offwhite);
    border: 1px solid var(--lightgrey);
    border-radius: 2px;
    padding: 14px 15px;
    margin: 5px 0;
    width: calc(100% - 90px);
    height: 9px;
    display: flex;
    position: relative;
    left: 28px;
    
  }

  .footer {
    text-align: center;
    margin-top: 80%;
    font-size: 0.8em;
    color: var(--darkgrey);
  }

  .instagramLogo {
    display: flex;
    justify-content: center;
    padding-top: 38px;
    padding-right: 5px;
    padding-bottom: 35px;
  }

  .facebook {
    text-decoration: none;
    color: var(--darkblue);
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 0.9em
  }

  .forgot {
    text-decoration: none;
    color: var(--darkblue);
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    margin-bottom: 5px;
  }


.getTheApp {
  font-family: Helvetica, sans-serif;
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 0.9em;
}

