:root {
  --blue: rgb(82, 194, 255);
  --offwhite: #fafafa;
  --lightgrey: #dbdbdb; 
  --darkgrey: rgb(110, 110, 110);
}

   
  .or {
    color: var(--darkgrey);
    margin: 20px 15px;
    text-align: center;
  }
  
  .form-input {
    background: var(--offwhite);
    border: 1px solid var(--lightgrey);
    border-radius: 3px;
    padding: 14px 15px;
    margin: 5px 0;
    width: calc(100% - 30px);
  }

  